services:
  db:
    image: mysql:8.0
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"   # optional: to connect MySQL from host machine to 3307
    volumes:
      - mysql_data:/var/lib/mysql
      # Auto init initial DB (run all file in sql)
      - ./database/schema.sql:/docker-entrypoint-initdb.d/01_schema.sql:ro
      - ./database/seed_data.sql:/docker-entrypoint-initdb.d/02_seed_data.sql:ro
      - ./database/views.sql:/docker-entrypoint-initdb.d/03_views.sql:ro
      - ./database/procedures.sql:/docker-entrypoint-initdb.d/04_procedures.sql:ro
      - ./database/triggers.sql:/docker-entrypoint-initdb.d/05_triggers.sql:ro
      - ./database/indexes.sql:/docker-entrypoint-initdb.d/06_indexes.sql:ro
      - ./database/security.sql:/docker-entrypoint-initdb.d/07_security.sql:ro

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-prootpass"]
      interval: 5s
      timeout: 3s
      retries: 30

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    working_dir: /app/src
    volumes:
      - ./backend/src:/app/src
    ports:
      - "8001:8000"
    command: ["sh", "/app/entrypoint.sh"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5173"]

volumes:
  mysql_data:
  frontend_node_modules:
